
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav_container {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

nav {
    background: #434343;
    padding: 10px;
    display: flex;
    gap: 30px;
    border-radius: 15px;

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #a5a5a5;
    }
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    color: #e8e8e8;
}

#section-1 {
    background: #ffa600
}

#section-2 {
    background: #ff00ea
}

#section-3 {
    background: #0066ff
}